.game-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
    min-height: 100vh;
}
.wingiveupbuttons-container{
 
    display: flex;
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 30vh;
  
}
.spacer{
    flex: 1;
}

.Question-container{
<<<<<<< HEAD
    top: 800px;
}

.guessfield{
    width: 175px;
 height: 25px;
}

.submitGuess{
    width: 50px;
    height: 17px;
    font-size: 10px;
=======
   position:absolute;
   top: 100px;
>>>>>>> c195c57c2ec59aac749ef858ed85c0b5ab2bef73
}