.game-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
    min-height: 100vh;
}
.wingiveupbuttons-container{
 
    display: flex;
 align-self: stretch;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}
.spacer{
    flex: 1;
}

.Question-container{
    margin-top: -100px;
}