.homepage-container{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    
   
    gap: 70px;
}


.logo-container{
    height: 300px
}
.username-container{
    transform: scale(2)
}


.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:500px;
    padding-right: 23px;
}
button{
transform: scale(2);
cursor: pointer;
}
.majorselect-container{
    transform: scale(2);
}
.howitworksbutton-container {
    margin-top: -90px;
}

body {
 background-image: url('http://backgroundlabs.com/files/chalkboard-background-2499.jpg%27');
  background-size: cover;
  height: 100vh;
 
  
  background-repeat:no-repeat;
}

.creategameimage{
    border: none;
    background: none;
    /* transform: scale(0.45); */
}

.guessfield{
    width: 175px;
 height: 25px;
}

.submitGuess{
    width: 50px;
    height: 17px;
    font-size: 10px;
}

