.rules{
    color: black;
}

.box {
margin: auto;
width: 50%;
border: 5px solid crimson;
padding: 25px 15px 25px 45px;
/* padding-left: 25px;
padding-right: 20px; */
}

ul {
    /* text-align: center; */
    justify-content: center;
    list-style:none;
    margin-right: 0.2rem;
    align-content: center;
}

ul li::before{
    content: "📌     ";
}

li {
    display:list-item;
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.howtoplay-title{
    font-size: 80px;
    color:rgb(255, 255, 255);
    /* background-color: rgb(221, 116, 137); */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, pink, red,pink);

}
/* }

.rules {
    flex-grow: 1;
    padding: 4rem;
    margin: 1rem;
    background: #fff;
    box-shadow:
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 100px 80px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 4px;
  }
  .custom-4 li::marker {
    content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%237B61FF'/%3E%3C/svg%3E%0A");
  }
  
  .custom-4 li {
    padding-left: .5rem;
  }
  
  .custom-4 li:hover::marker {
    content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%230074E0'/%3E%3C/svg%3E%0A");
  } */
